


.content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ui .input {
  margin-bottom: 10px;
  width: 100%;
}

nav {
  background-color: #1d689e
}

#login {
  margin-right: 10px
}

#articles {}

.ui.header.sub_title {
  color: white;
  padding-top: 2em;
}

.ui.header.sub_divider {
  color: white;
}

.dimmable.image>img {
  width: 347px;
  height: 248px !important;
}

.ui.header.sub_title:hover {
  cursor: pointer;
}


